<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-header</string>
	</array>
	<key>Description</key>
	<string>An Objective-C protocol header file.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.h</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>classPrefix</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Protocol Prefix</string>
			<key>Description</key>
			<string>The prefix of the protocol.</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>protocolName</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<string>YES</string>
			<key>NotPersisted</key>
			<string>YES</string>
			<key>Name</key>
			<string>Protocol Name</string>
			<key>Description</key>
			<string>The name of the protocol.</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_classPrefix:identifier______VARIABLE_protocolName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>An Objective-C protocol header file.</string>
</dict>
</plist>
