<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>Description</key>
	<string>An Objective-C category, with implementation and header files.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>categoryClass</string>
			<key>Type</key>
			<string>class</string>
			<key>Required</key>
			<string>YES</string>
			<key>NotPersisted</key>
			<string>YES</string>
			<key>Name</key>
			<string>Category on</string>
			<key>Description</key>
			<string>The class to add the category to.</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>categoryName</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<string>YES</string>
			<key>NotPersisted</key>
			<string>YES</string>
			<key>Name</key>
			<string>Category Name</string>
			<key>Description</key>
			<string>The name of the category.</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_categoryClass:identifier___+___VARIABLE_categoryName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>2</string>
	<key>Summary</key>
	<string>An Objective-C category, with implementation and header files.</string>
</dict>
</plist>
